<div class="modal-header">
    <h3 class="modal-title">Add A Note</h3>
</div>
<div class="modal-body">
    <form ng-submit="submitNote()" novalidate>
        <div class="form-group">
            <label for="title" control-label>Title</label>
            <input type="text" ng-model="note.title" class="form-control" id="title" placeholder="Title"/>
        </div>
        <div class="form-group">
            <label for="link" control-label>Link</label>
            <input type="text" ng-model="note.link" class="form-control" id="link" placeholder="Link"/>
        </div>
        <div class="form-group">
            <label for="content" control-label>Content</label>
            <input type="text" ng-model="note.content" class="form-control" id="content" placeholder="Content"/>
        </div>
        <div class="form-group">
            <label for="Category" control-label>Category</label>
            <select class="form-control" ng-model="note.category" id="category" placeholder="Category">
                <option value="" disabled selected>Select your option</option>
                <option ng-repeat="category in categories">{{category.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success"/>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>