<div ng-controller="NoteCtrl">
  <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="note in notes | filter: searchQuery | filter: categorySelected">
    <div class="panel panel-default">
      <div class="panel-heading panel-title">
        {{note.title}}
      </div>
      <div class="panel-body">
        {{note.content}}
      </div>
      <div class="panel-footer">
        <a href="{{note.link}}" target="_blank">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        </a>
        <button ng-show="!userIsLoggedOut" type="button" class="btn btn-link" ng-click="deleteNote(note._id)">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>